@import '@fontsource/fira-mono';

:root {
  font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #b54400;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  --a-dark: #222;
  --a-light: #eee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--a-light);
  color: var(--a-dark);
  font-family: sans-serif;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-left: 0.3rem solid var(--accent-color);
  border-radius: 0.3rem;
  padding: 1rem;
  background-color: var(--background-without-opacity);
}

a {
  color: var(--accent-color);
}

caption {
  font-size: small;
}

ul.contains-task-list {
  list-style-type: none;
}

ul.contains-task-list > li {
  padding-left: 2rem;
  text-indent: -2rem;
}
